.action-logger {
  padding: 0px 64px;
  align-self: stretch;
}

.action-logger__events {
  white-space: nowrap;
}

.action-logger__label {
  font-size: 18px;
  padding-left: 16px;
  margin-bottom: 4px;
  color: #757575;
  font-weight: 500;
}

.action-logger__field {
  font-weight: bold;
}

.action-logger__line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.action-logger__entry {
  display: inline-block;
  background-color: #FFFFE6;
  border: 2px solid #eee;
  border-radius: 6px;
  padding: 8px 14px;
  margin: 4px;
  font-size: 14px;
  font-family: 'SF Mono', "Lucida Console", Monaco, monospace;
}
