
.hooks-slide__button {
  margin-top: 48px;
  text-align: center;
}

.hooks-slide__circle {
  text-align: center;
  margin-top: 100px;
}

.hooks-circle {
  display: inline-block;
  width: 240px;
  height: 240px;
  line-height: 240px;
  border-radius: 240px;

  font-family: 'Rubik';
  font-weight: bold;
  font-size: 28px;

  color: white;

  background-color: black;
}
