
.talking-heads {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding-top: 160px;
}

.talking-heads__heads {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;

  > div {
    margin: 0 30px;
  }
}

.talking-heads__head-name {
  font-size: 18px;
  text-align: center;
  margin-top: 12px;
  font-weight: 500;

  &--jose {
    color: #666;
  }

  &--gustav {
    color: #F7316F;
  }

  &--pierrot {
    color: #4094ED;
  }

  &--avram {
    color: #2AD58B;
  }
}

.talking-heads__controls {
  margin-top: 22px;
  margin-bottom: 16px;

  .button {
    margin: 2px;
  }
}

.action-logger {
  padding: 0px 64px;
  white-space: nowrap;
  align-self: stretch;
}

.action-logger__field {
  font-weight: bold;
}

.action-logger__line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.action-logger__entry {
  display: inline-block;
  background-color: #FFFFE6;
  border: 2px solid #eee;
  border-radius: 6px;
  padding: 8px 14px;
  margin: 4px;
  font-size: 14px;
  font-family: 'SF Mono', "Lucida Console", Monaco, monospace;
}
