@import '../variables';

.button {
  border-radius: 6px;
  border: 3px solid $beauty-bush;

  background-color: white;
  outline: none;
  color: $black;
  cursor: pointer;
  vertical-align: middle;
  font-family: 'Rubik', sans-serif;

  padding: 8px 11px;
  font-size: 18px;

  &:hover {
    background-color: rgba($beauty-bush, 0.01);
  }

  &:active {
    background-color: rgba($beauty-bush, 0.1);
  }
}

.button__icon {
  font-size: 24px;
  line-height: 21px;
  vertical-align: middle;
  margin-right: 8px;
}
