
.code-preview {
  font-family: 'SF Mono', "Lucida Console", Monaco, monospace;
  white-space: pre;
  font-size: 20px;
}

.code-preview__highlight {
  background-color: rgba(0,0,0,0);
  transition: background-color 1.6s ease;
  border-radius: 2px;
}

.code-preview__highlight--flash {
  transition-duration: 0.150s;
  background-color: rgba(#fc7979, 0.5);
}
