$beauty-bush: #edbfc0;
$light-gray: #a1a1a1;
$black: #222;

body {
  font-family: Rubik, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: $black;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.application {
  height: 100vh;
  display: flex;
  flex-flow: row nowrap;
}

.presentation {
  flex-grow: 1;
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
}

.presentation__tool-bar {
  flex-shrink: 0;
  width: 240px;
  padding: 20px 25px;
  background-color: #fafafa;

  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-flow: column nowrap;
}

.presentation__logo {
  font-size: 26px;
  font-weight: bold;
  border-bottom: 1px solid #eee;
  margin-bottom: 24px;
  padding-bottom: 12px;
  padding-right: 20px;

  flex-shrink: 0;
}

.presentation__content {
  flex-grow: 1;
  overflow-y: auto;
  align-self: stretch;

  background-color: #fafafa;
  padding: 32px;

  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: center;
}

.presentation__plan {
  flex-grow: 1;
  flex-shrink: 1;
  overflow-y: auto;
}

.presentation__plan-item {
  margin-bottom: 5px;
  cursor: pointer;
  color: #666;
  padding: 5px 0;
}

.presentation__plan-item--future {
  color: #e0e0e0;
}

.presentation__plan-item--current {
  color: black;
  text-shadow: 1px 2px 0px yellow;
}

.presentation__slide {
  display: inline-block;
  // width: 900px;
  width: 1066px;
  height: 600px;
  background-color: white;

  overflow: hidden;

  border-radius: 4px;

  box-shadow: 0px 5px 16px -2px rgba(0, 0, 0, 0.1);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.presentation__slide--centered {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.text-slide {
  display: flex;
  flex-flow: row nowrap;
  align-items: strech;
}

.text-slide__content {
  flex-grow: 1;
  display: flex;

  flex-flow: column nowrap;
  text-align: center;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.3);
}

.text-slide__text {
  font-size: 52px;
  font-weight: bold;
  color: white;

  max-width: 65%;
}

.text-slide__sub-text {
  font-size: 28px;
  color: white;

  max-width: 70%;
}

.iframe-slide__iframe {
  border: none;

  width: 1066px;
  height: 600px;

  transform-origin: 0 0;
}
