.classic-poll {
  width: 1080px;
  height: 800px;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  font-family: Helvetica;
  padding: 30px 40px;
  box-sizing: border-box;
}

.classic-poll__question {
  font-size: 42px;
  font-weight: bold;
  padding-bottom: 8px;
}

.classic-poll__subheader {
  font-size: 26px;
  margin-bottom: 36px;
}

.classic-poll__subheader-link {
  font-weight: bold;
  text-decoration: underline;
  margin-left: 8px;
  padding: 2px 5px;
  font-size: 28px;
  background-color: #fdfd3d;
}

.classic-poll__result {
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.classic-poll__line {
  flex-grow: 1;
  flex-shrink: 1;
}

.classic-poll__percent {
  font-size: 42px;
  font-weight: bold;
  padding-left: 25px;
  width: 120px;
  align-self: center;
  flex-shrink: 0;
  text-align: left;
}

.classic-poll__result-header {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 4px;
}

.classic-poll__progress-wrap {
  overflow: hidden;
  height: 15px;
  border-radius: 5px;
  background-color: #eee;
}

.classic-poll__progress {
  height: 15px;
  background-color: #000;
  transition: transform 0.3s ease;
  transform-origin: left top;
}
