.classic-poll {
  width: 1080px;
  height: 800px;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  font-family: Helvetica;
  padding: 30px 40px;
  box-sizing: border-box;
}

.classic-poll__question {
  font-size: 32px;
  font-weight: bold;
  padding-bottom: 8px;
}

.classic-poll__subheader {
  font-size: 26px;
  margin-bottom: 20px;
  > span {
    font-weight: bold;
    text-decoration: underline;
    margin-left: 8px;
    padding: 2px 5px;
    font-size: 28px;

    background-color: #FDFD3D;
  }
}

.classic-poll__result {
  margin-bottom: 16px;
}

.classic-poll__result-header {
  font-size: 22px;
  font-weight: bold;
  padding-bottom: 5px;
}

.classic-poll__line {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.classic-poll__progress-wrap {
  flex-grow: 1;
  flex-shrink: 1;

  background-color: #eee;
  overflow: hidden;
  height: 40px;

  border-radius: 5px;
}

.classic-poll__progress {
  height: 40px;
  background-color: black;
  transition: width 0.3s ease;
  border-radius: 5px;
}

.classic-poll__percent {
  font-size: 36px;
  font-weight: bold;
  padding-left: 25px;
  width: 80px;
  flex-shrink: 0;
}
