$beauty-bush: #EDBFC0;
$black: #222;

body {
  background-color: #FAFAFA;
  font-family: 'SF Mono', "Lucida Console", Monaco, monospace;
  color: $black;
  height: 100vh;
}

.playground {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
}

.playground__tool-bar {
  flex-shrink: 0;
  width: 280px;
  padding: 5px 10px;
}

.playground__logo {
  font-size: 32px;
  font-weight: bold;
  border-bottom: 1px solid #eee;
  margin-bottom: 24px;
  padding-bottom: 12px;
}

.playground__content {
  flex-grow: 1;
  overflow-y: auto;
}

.playground__button {
  border-radius: 6px;
  border: 2px solid $beauty-bush;
  padding: 6px 10px;
  background-color: white;
  outline: none;
  color: $black;
  font-size: 13px;
  cursor: pointer;
  line-height: 22px;

  vertical-align: middle;
  font-family: 'SF Mono', "Lucida Console", Monaco, monospace;

  margin-right: 4px;
  margin-bottom: 4px;

  &:hover {
    background-color: rgba($beauty-bush, 0.01);
  }

  &:active {
    background-color: rgba($beauty-bush, 0.1);
  }
}

.playground__button-icon {
  font-size: 24px;
  line-height: 21px;
  vertical-align: middle;

  &:not(:last-child) {
    margin-right: 8px;
  }
}

.playground__poll {
  width: 410px;
  height: 306px;
  overflow: hidden;
  border: 1px solid #e1e1e1;
  border-radius: 3px;
  margin: 20px;
  display: inline-block;
}

.playground__poll-wrap {
  transform: scale(0.4, 0.4);
  transform-origin: left top;
}

.fancy-block {

}
